<template>
    <require from="./../../../../styles/views/welcome.css"></require>
    <ul selectable="selected-id.two-way: selectedId; multi: true">
        <li class="card default-padding" repeat.for="item of items" data-id="${item.Id}">
            <div>${item.Name}</div>
            <div class="suppressed">${item.Description}</div>
        </li>
    </ul>

    <div class="bottom-toolbar">
        <button class="action" click.delegate="startProcess()">Start</button>
    </div>

    <aside class="closed" ref="aside">
        <div ref="detailsElement"></div>

        <div class="bottom-toolbar">
            <button click.delegate="cancel()">Cancel</button>
            <div class="stretch"></div>
            <button class="default-margin-right" click.delegate="previous()">Previous</button>
            <button class="action" click.delegate="next()">Next</button>
        </div>
    </aside>
</template>